<div style="font-family: 'Big Shoulders Stencil Display', cursive; font-family: 'Londrina Solid', cursive;">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1F2833; border-top: 4px solid rgb(255, 187, 0); z-index: 1;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="rounded-circle" style="overflow: hidden; width: 70px; height: 70px;">
          <img src="assets/gymimage/logo.jpeg" alt="" width="70" height="70">
        </div>
      </a>
      <a class="navbar-brand" style="color: rgb(255, 187, 0);">
        <h1 style="font-family: 'Big Shoulders Stencil Display', cursive;">GymPro</h1>
      </a>

      <button class="navbar-toggler" type="button" style="color:rgb(255, 187, 0);" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" style="background-color: rgb(255, 187, 0);">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Add your navigation links or content here -->
      </div>
      
      <!-- Place the buttons in ml-auto div to make them right-aligned -->
      <div class="ml-auto">
        <button class="btn btn-warning mx-2" (click)="redirectToLogin()">Login</button>
        <button class="btn btn-primary" (click)="redirectToRegister()">Sign Up </button>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="showUsersTemplate">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">User Registration</h2>
            <form [formGroup]="userForm" (ngSubmit)="postDetails()">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" class="form-control">
                <div *ngIf="userForm?.get('firstName')?.hasError('required') && userForm?.get('firstName')?.touched"
                  class="text-danger">
                  First Name is Invalid
                </div>
              </div>

              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" class="form-control">
                <div *ngIf="userForm?.get('lastName')?.hasError('required') && userForm?.get('lastName')?.touched"
                  class="text-danger">
                  Last Name is Invalid.
                </div>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" formControlName="email" class="form-control">
                <div *ngIf="userForm?.get('email')?.hasError('required') && userForm?.get('email')?.touched"
                  class="text-danger">
                  Email is required.
                </div>
                <div *ngIf="userForm?.get('email')?.hasError('email') && userForm?.get('email')?.touched" class="text-danger">
                  Invalid email format.
                </div>
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" id="phone" formControlName="phone" class="form-control">
                <div *ngIf="userForm?.get('phone')?.hasError('required') && userForm?.get('phone')?.touched"
                  class="text-danger">
                  Phone is required.
                </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <div *ngIf="userForm?.get('password')?.hasError('required') && userForm?.get('password')?.touched"
                  class="text-danger">
                  Password is required.
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Role</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="userRole" formControlName="role" [value]="'user'">
                    <label for="userRole" class="form-check-label">User</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="adminRole" formControlName="role" [value]="'admin'">
                    <label for="adminRole" class="form-check-label">Admin</label>
                  </div>
                </div>
                <div *ngIf="userForm?.get('role')?.hasError('required') && userForm?.get('role')?.touched"
                  class="text-danger">
                  Role is required.
                </div>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Register</button>
                <a routerLink="/log-in" class="button">Go to Login</a>
           
              </div>
                     
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

